<footer>
    <div class="row">
        <p>Michael K<span id="copyright" class="iconify" data-icon="bx:bx-copyright" data-inline="true" style="color: white;"></span> . All rights reserved</p>
    </div>
    <div class="row">
        <p>
            Foodgramltd does not claim any right over any of the graphics or recipes used in this page. All rights reserved to the respective copyright owners. <br>Please do contact us if you would like us to remove anything on this site.    
        </p>

        <p> </p>
    </div>
</footer>