
<nav role="navigation" class="primary-navigation">
    <ul class="nav-bar">
        <li class="main-link"><a href="/recipes/home">Home</a></li>
        <li class="main-link"><a href="#">Cuisine&dtrif;</a>
        <ul class="dropdown">
            <li><a href="#">Chinese</a></li>
            <li><a href="#">Malay</a></li>
            <li><a href="#">Indian</a></li>
            <li><a href="#">Italian</a></li>
        </ul>
        </li>
        <li class="main-link"><a href="/recipes/new">Create Recipe</a></li>
        <li class="main-link"><a href="/about">About</a></li>
        <li class="main-link"><a href="/contact-us">Contact Us</a></li>
    </ul>
</nav>
