<!DOCTYPE html>
<html>
    <%- include('./partials/head') %>
    <body>

      <%- include('./partials/nav') %>
      <%- include('./partials/alerts') %>
        <div class="row after-navbar">
            <div class="col-md-6 m-auto">
              <div class="card card-body">
                <h1 class="text-center mb-3">Forgot Password</h1>
                <form action="/user/forgot-password" method="POST">
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email"/>
                  </div>
                  <button type="submit" class="btn btn-primary btn-block " style="margin-top: 5px;">Submit</button>
                </form>
                <p class="lead mt-4">
                  No Account? <a href="/user/register">Register Here</a>
                </p>
              </div>
            </div>
          </div>
    </body>

</html>