<!DOCTYPE html>
<html>
    <%- include('./partials/head') %>
    <body>

      <%- include('./partials/nav') %>
      <%- include('./partials/alerts') %>
        <div class="row after-navbar">
            <div class="col-md-6 m-auto">
              <div class="card card-body">
                <h1 class="text-center mb-3">Reset Password</h1>
                <form action="/reset-password/submit?_method=PATCH" method="POST">
                  <div class="form-group">
                    <label for="password">New Password</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Enter new Password"/>
                  </div>
                  <div class="form-group">
                    <label for="password2">Confirm Password</label>
                    <input type="password" id="password2" name="password2" class="form-control" placeholder="Confirm Password"/>
                    <input type="hidden" id="id" name="id" class="form-control" value="<%=user_id%>"/>
                  </div>
                  <button type="submit" class="btn btn-primary btn-block " style="margin-top: 5px;">Submit</button>
                </form>
              </div>
            </div>
          </div>
    </body>

</html>