body {
    font-family: Arvo, serif;

}

.row {
    width: 50%;
    margin: 10px auto;
    justify-content: center;

}   

h1, h2, h3 {
    text-align: center;
    margin-top: 10px;
}

div {
    color: #BABECC;
    text-shadow: 1px 1px 1px white;
}

.new-sect {
    margin-top: 20px;
}

#new-dropdowns{
    display: inline-flex;
    justify-content: center;
    width: 100%;
}

.form-control, .form-select, .step {
    border: 0;
    outline: 0;
    border-radius: 320px;
    padding: 20px;
    background-color:#EBECF0;
    text-shadow: 1px 1px 0 white;
    margin-top: 5px;
}

#ingredient-list, #preparation {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

button {
    border: 0;
    outline: 0;
    padding: 5px;
    margin: 10px;
    font-weight: bold;
    box-shadow: -1px -1px 20px white,  1px 1px 20px #BABECC;
    cursor: pointer;
    font-weight: 600;
    width: max-content;
}

.add-delete-buttons {
    justify-content: center;
    display: flex;
}


button:hover {
    box-shadow: -2px -2px 2px white, 2px 2px 2px #BABECC;
}
