body {
 background-color: white;
 font-family: Arvo, serif;
 width: 100%;
}

.alert {
    margin: 6em auto 0 auto;
    width: fit-content;
}

.after-navbar {
    margin-top: 5em;
}

#index-filter-btns {    
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
}

.index-container  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 30px 0 0 0;
}

#whole-list {
    margin: 10px auto;
    display: flex;
    justify-content: space-evenly;
}

.index-card {
    margin: 10px 10px;
    box-shadow: 3px 5px 20px 1px black ;
}

.index-card img{
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.iconify {
    color: #4267B2;
    padding-right: 2px;
}

.snapshot {
	display: inline-block;
    width: fit-content;
    padding: 0;
}

.show-snapshot{
    font-size: 1.5em;
    margin-right: 1em;
    list-style: none;
    display: inline;
    text-align: center;
}

#show-profile {
    margin-bottom: 20px;
    max-height: fit-content;
}

.bold {
    font-weight: bold;
}

#index-show {
    display: block;
    background: grey;
    color: white;
    position: relative;
    padding: 10px;
    text-decoration: none;
}

.card-header {
    width:fit-content;
    height:fit-content
}

#main-name {
    margin: 0 auto;
    padding: 0.7em 0 0;
    font-family: 'Lobster', cursive, sans-serif;
    text-align: center;
}

div.edit-recipe{
    align-items: flex-end;
}

#filter-button>button:hover{
    background-color: lightcoral;
}

#show-image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.show-image {
    margin-left: auto;
    margin-right: auto;
    max-height: 50vh;
    width: fit-content;
    object-fit: contain;
}

#ingredient-instructions{
    display: flex;
    justify-content: center;
    text-align: justify;
}

#cooking-instructions {
    margin-left:80px; 
    padding: 0;
}

#show-header-container{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.show-header {
    font-family: 'Lobster', cursive, sans-serif;
    text-align: center;
}

#review-scroll{
    overflow: scroll;
    height: 250px;
    padding: 0;
    border: 4px double lightblue;
    margin-bottom: 40px;
}

footer {
    background-color: lightslategrey;
    padding: 30px
}

footer p {
    text-align: center;
    color: white;
}

#banner {
    width:100%;
}


#mobile-filter {
    display:none;
}

@media screen and (max-width: 1024px){
    body {
        width: 100vw;
    }
    #banner {
        margin-top: 6em;
    }

    #show-header-container{

        margin: 0;
    }

    #nav-bar, .logout-bar{
        font-size: 0.9em;
    }

    .after-navbar {
        margin: 8em 0 0 0;
        justify-content: center;
        border: none;
    }

    .show-image {
        margin-left: auto;
        margin-right: auto;
        max-height: 45vh;
        width: fit-content;
        object-fit: contain;
    }

    .index-card img{
        width: 100%;
        height: 35vh;
        object-fit: cover;
    }

    .show-snapshot{
        font-size: 1em;
        margin-right: 0.5em;
    }

    #filter-button {
        display:none;
    }

    #mobile-filter {
        display:block;
    }

    .alert {
        margin-top: 0.6em;
    }

    #ingredient-instructions {
        display:flex;
        justify-content: center;
        line-height: 1em;
        text-align: center;
    }

    #cooking-instructions {
        margin: auto;
    }

}
